{% extends 'AppProyecto3/padre.html' %}

{% block titulo %}
PAGINA ESTUDIANTES
{% endblock titulo %}

{% block contenido %}
<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'estudiantes' %}" method="POST">
                {% csrf_token %} 
                    <p>Nombre: <input type="text" name="nombre"></p>
                    <p>Apellido: <input type="text" name="apellido"></p>
                    <p>E-mail: <input type="text" name="email"></p>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}